.checkout-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    max-width: 100%;
    margin: auto 0;
}

.order-summary {
    padding: 10px;
}

.summary-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary-item {
    padding: 0.5rem;
    height: 100px;
    border-bottom: 1px solid var(--heading-color);
}

.summary-item-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.summary-footer {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.summary-total {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
}

.discount-input {
    border: 1px solid var(--heading-color);
    border-radius: 4px;
    padding: 0.2rem;
}

.discount-label {
    margin-bottom: 10px;
}

fieldset {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--heading-color);
}

legend {
    font-weight: 800;
    font-size: 1.2rem;
}

.customer-info-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.customer-info-content input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; // För Firefox

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; // För Chrome, Safari, Edge
    }
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
}

.order-form input {
    border-radius: 4px;
    border: 1px solid var(--heading-color);
    padding: 0.5rem;
    width: 100%;
}

.radioBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;

    input[type="radio"] {
        margin: 0;
        width: 16px;
        height: 16px;
    }
}

.payment-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.card-details {
    display: flex;
    gap: 20px;

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        width: 80px;
        height: 40px;
        display: block;
    }
}

.card-details input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; // För Firefox

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; // För Chrome, Safari, Edge
    }
}

.invoice-details {

    .helper-text {
        font-style: italic;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }

    input[name="pnr"] {
        width: 100%;
        margin-top: 0;
        height: 40px;
        display: block;
    }
}

.order-confirmation {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.checkboxes input[type="checkbox"] {
    border-radius: 4px;
}

.orderBtn {
    margin-top: 2.5rem;
    width: 100%;
    padding: 1.2rem;
    background-color: #3A5A40;
    color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

.orderBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: #ff0000;
    font-size: 14px;
    font-weight: 900;
    display: none;
    align-items: center;
    gap: 5px;
}

.error:not(.hidden) {
    display: flex;
}

.error .icon {
    width: 16px;
    height: 16px;
    fill: #ff0000;
    flex-shrink: 0;
}

.formBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 10px;
}

.clearOrderBtn {
    background: none;
    border: none;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
}

.clearOrderBtn:hover {
    color: darkred;
}

#checkoutBtn {
    padding: 0.5rem 2rem;
    background-color: var(--heading-color);
    color: var(--bg-color);
    border: 0.2rem solid var(--heading-color);
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

@media screen and (min-width: 1200px) {
    .checkout-content {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .checkout-point {
        flex: 2;
        padding: 20px;
    }

    .order-summary {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .customer-info-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
        padding: 20px;
    }

    .customer-info-content label:nth-child(3),
    .customer-info-content label:nth-child(4),
    .customer-info-content label:nth-child(7) {
        grid-column: span 2;
    }

    .order-form input {

        &[name="address"],
        &[name="email"] {
            width: 100%;
        }
    }

    .payment-content {
        display: flex;
        flex-direction: row;
        padding: 30px;
    }

    .radioBtns {
        width: 100%;
    }

    #invoice-payment,
    #card-payment {
        width: 100%;

        p{
            margin-top: 0;
        }
    }

    .invoice-details {

        .helper-text {
            font-style: italic;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 0;
        }

        input[name="pnr"] {
            width: 150px;
            margin-top: 0;
            height: 40px;
            display: block;
        }
    }

    .order-confirmation {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .checkboxes {
        text-align: center;
        gap: 1.5rem;
        width: 100%;
    }
}