@media screen and (min-width: 768px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4px;
    }
}

@media screen and (min-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 1440px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}