.product-list article {
    border: 2px solid black;
}

#menuBtn {
    background-color: var(#FFFEF5);
    color: var(--heading-color);
    margin-left: 375px;
    margin-top: 10px;
    padding: 5px;
}

h1 {
    margin-left: 20px;
}