@use '_mobile';
@use '_desktop';

* {
    box-sizing: border-box;}
:root {
    --bg-color: #FFFEF5;
    --heading-color: #3A5A40;
}

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', system-ui;
    font-size: 16px;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    font-family:'Playfair Display', system-ui;
}

button {
    font-family: 'Montserrat', system-ui;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

main,
header {
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 100%;
    display: none;
}

nav.open {
    display: block;
}

#menuBtn {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 20px;
}

article {
    display: flex;
    flex-direction: column;
}