@use '_header';
@use '_productSection';
@use '_cart';
@use '_checkoutpoint';

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FFFEF5;
    --heading-color: #3A5A40;
    --cart-item-color: #ebe0ca80;
}

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', system-ui;
    font-size: 16px;
}

main,
header {
    padding: 10px;
}

h1,
h2,
h3,
legend {
    color: var(--heading-color);
    font-family: 'Playfair Display', system-ui;
}

h1 {
    font-size: 1.6rem;
}

section h2 {
    margin-left: 5px;
}

button,
select,
input {
    font-family: 'Montserrat', system-ui;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

#sortByList {
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0.75rem;
    width: 160px;
    background-color: transparent;
    color: var(--heading-color);
    font-weight: 600;
    border: 2px solid var(--heading-color);
    border-radius: 4px;
}

.sortFilterList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    padding: 10px 5px;
    padding-bottom: 0;
    width: 100%;
}

.filterBtns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 0;
}

.filterBtns button {
    padding: 0.75rem;
    width: 100px;
    background-color: transparent;
    color: var(--heading-color);
    font-weight: 600;
    border: 2px solid var(--heading-color);
    border-radius: 4px;
}

#bodyScrubsFilterBtn {
    width: 120px;
}

.sortDropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-left: auto;
}

.sortDropdown label {
    justify-content: center;
    color: var(--heading-color);
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4px;
    }

    .filterBtns {
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .productList {
        grid-template-columns: repeat(3, 1fr);
    }

    .sortFilterList {
        display: flex;
        align-items: flex-end;
        gap: 0;
    }
}

@media screen and (min-width: 1440px) {
    .productList {
        grid-template-columns: repeat(4, 1fr);
    }

    .sortFilterList {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}